/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

.dark-theme code[class*="language-"],
.dark-theme pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
.dark-theme pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

.dark-theme :not(pre) > code[class*="language-"],
.dark-theme pre[class*="language-"] {
	background: #333;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
}

/* Inline code */
.dark-theme :not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.dark-theme .token.comment,
.dark-theme .token.block-comment,
.dark-theme .token.prolog,
.dark-theme .token.doctype,
.dark-theme .token.cdata {
	color: #999;
}

.dark-theme .token.punctuation {
	color: #ccc;
}

.dark-theme .token.tag,
.dark-theme .token.attr-name,
.dark-theme .token.namespace,
.dark-theme .token.deleted {
	color: #e2777a;
}

.dark-theme .token.function-name {
	color: #6196cc;
}

.dark-theme .token.boolean,
.dark-theme .token.number,
.dark-theme .token.function {
	color: #f08d49;
}

.dark-theme .token.property,
.dark-theme .token.class-name,
.dark-theme .token.constant,
.dark-theme .token.symbol {
	color: #f8c555;
}

.dark-theme .token.selector,
.dark-theme .token.important,
.dark-theme .token.atrule,
.dark-theme .token.keyword,
.dark-theme .token.builtin {
	color: #cc99cd;
}

.dark-theme .token.string,
.dark-theme .token.char,
.dark-theme .token.attr-value,
.dark-theme .token.regex,
.dark-theme .token.variable {
	color: #7ec699;
}

.dark-theme .token.operator,
.dark-theme .token.entity,
.dark-theme .token.url {
	color: #67cdcc;
}

.dark-theme .token.important,
.dark-theme .token.bold {
	font-weight: bold;
}
.dark-theme .token.italic {
	font-style: italic;
}

.dark-theme .token.entity {
	cursor: help;
}

.dark-theme .token.inserted {
	color: green;
}

